body {
  background-color: #e1fef3;
  font-family: digital;
}

main {
  height: 520px;
  width: 350px;
  background-color: #ebffeb;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #00ff11;

}

.display {
  width: 320px;
  height: 40px;
  background-color: #00756d;
  color: #ffffff;
  display: grid;
  justify-content: end;
  align-content: center;
  margin: auto;
}

#upperDisplay {
  margin-top: 15px;
}

#display {
  margin-bottom: 10px;
}

#buttonGrid {
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
  justify-content: center;
  align-content: center;
}

#add {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
}

#equals {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 6;
}

#zero {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}

button {
  height: 80px;
  width: 80px;
  font-family: arial;
  font-size: 25px;
  background-color: #e8e8e8;
  border: 1px solid #99ffa0;
}

.notNumbers {
  background-color: #bdffd3;
}

#equals, #AC  {
  background-color: #cefecd;
}

#AC {
  color: #1e00ff;
}


button:hover, #equals:hover, #clear:hover {
  background-color: #9ea1ff;
  color: white;
  outline: 0.15em solid #0040ff;
  z-index: 3;
}

button:active, #equals:active, #clear:active {
  background-color: #001eff;
}

#zero {
  width: 160px;
}

#equals, #add {
  height: 160px;
  width: 80px;

}

 h2 {
  margin-top: 8px;
  margin-right: 7px;
  font-family: Orbitron;
}

h4 {
  margin-right: 7px;
  font-family: Orbitron;
}

#badge {
  position: fixed;
  cursor: pointer;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  background-color: #4d88ff;
  color: #f5f9fc;
  padding: 0.3em 0.75em;
  border-radius: 0.3em;
  font-size: 1.25em;
  text-decoration: none;
  box-shadow: 3px 3px 3px black;
}

#badge div {
  opacity: 0.7;
  transition-property: opacity, transform;
  transition: opacity 120ms, transform 120ms;
  transition-timing-function: ease-out;
}

#badge:hover div {
  transform: scale(1.07);
  opacity: 1;
}
@media only screen and (max-width: 850px) {
  #badge {
    display:none;
  }
}